body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: rgb(232, 161, 231);
    color: white;
  }
  
  h1 {
    text-align: center;
    color: rgb(1, 1, 1);
  }

  .container {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 30px;
  }

  .search {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  form {
    display: flex;
  }
  
  input {
    padding: 15px 10px;
    outline: none;
    width: 90%;
  }
  
  .li-container {
    background-color: white;
    width: 100%;
    color: darkslategray;
    margin-top: 20px;
  }
  
  ul {
    padding: 0;
  }
  
  li {
    list-style: none;
    background-color: lightgray;
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
  }
  
  li p {
    margin: 0;
    padding: 15px;
    width: 100%;
  }
/*Boton de eliminar*/
  .btn-delete {
    margin-left: auto;
    border: none;
    background-color: #e31746;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
    font-size: 1.2em;
  }
  
  .btn-delete:hover {
    cursor: pointer;
    background-color: lightseagreen;
  }
/*Boton de agregar*/
  .btn-add {
    padding: 5px 15px;
    border: none;
    color: white;
    font-family: fantasy;
    background-color: rgb(208, 91, 216);
    font-size: 1.4rem;
    outline: none;
  }
  
  .btn-add:hover {
    cursor: pointer;
    background-color: darkcyan;
  }
  
  .empty {
    color: rgb(9, 12, 12);
  }
/*Boton de completado*/
.btn-complete {
    margin-right: 10px;
    border: none;
    background-color: green;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    outline: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 1.2em;
  }
  
  .btn-complete:hover {
    cursor: pointer;
    background-color: darkgreen;
  }
  
  .completed p {
    text-decoration: line-through;
    color: gray;
  }